*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    background-color: black;
    color: white;
    width: 100%;
    max-width: 400px;
    padding: 4rem 0;
   
    margin: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search input{
    outline: none;
    padding: .3rem 1.2rem;
    border-radius: 15px;
    background-color: gray;
    color: white;
    border-style: none;
    cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }

.search button{
    padding: .7rem;
    border-color: white;
    background-color: black;
    color: white;
    cursor: pointer;
}

/* Weather content */

.weather_content{
    margin-left: -5rem;
    margin-top: 2rem;
}
h1{
    color: white;
    font-size: 1.5rem;
}